html, body {
  margin: 0 auto;
  height: 100%;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

#bin2dev_container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid black;
  border-radius: 25px;
  padding: 50px;
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

input {
  margin: 5px 0 15px 0;
}

.form_inputs {
  width: 100%;
  border-radius: 4px;
  border: 1px solid;
  padding: 5px;
}

#submit_btn {
  background-color:  darkgrey;
  border-radius: 5px;
}

#submit_btn:hover {
  background-color: lightgrey;
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}
